@font-face {
  font-family: "GiestRegular";
  src: local("GiestRegular"),
    url("../public/fonts/Geist-Regular.otf") format("opentype");
  font-weight: normal;
}

html {
  font-family: "GiestRegular", sans-serif;
}

.mainContainer {
  height: calc(100vh - 4rem);
}
